name = "QGDipoles"
uuid = "192f05a4-068c-458e-9e9e-a50cd96b7215"
authors = ["Matthew Crowe"]
version = "1.0.1"

[deps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Jacobi = "83f21c0b-4282-5fbc-9e3f-f6da3d2e584c"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NLsolve = "2774e3e8-f4cf-5e23-947b-6d7e65073b56"
QuadGK = "1fd47b50-473d-5c70-9696-f719f8f3bcdc"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"

[compat]
CUDA = "5"
FFTW = "1"
Jacobi = "0.7"
NLsolve = "4"
QuadGK = "2"
SpecialFunctions = "2"
julia = "1.10"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
